<div class="container-flex">
  <div class="row justify-content-md-center" style="margin: auto;">
    <div class="col col-md-auto">
    </div>
    <div class="col col-md-auto">
      <div class="card" routerLink="/producto">
        <div class="circuloimagen">
          <img src="../../assets/box-solid.svg" alt="Card image cap" />
        </div>
        <h4 class="card-title text-center">Productos</h4>
      </div>
    </div>
    <div class="col col-md-auto">
      <div class="card" routerLink="/categoria">
        <div class="circuloimagen">
          <img src="../../assets/clipboard-check-solid.svg" alt="Card image cap" />
        </div>
        <h4 class="card-title text-center">Categorias</h4>
      </div>
    </div>
  </div>
</div>